*{
    padding:0;
    margin:0;
}
body{
    background-color: #fff;
}
header{
   width:100%;
   height:500px ;
    background-image: url(images/ngri.jpg) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    box-shadow: inset 50px 150px 150px #000;
   
}
#underline{
    height: 3px;
    width: 0px;
    visibility: hidden;
    background-color: #fff;
    animation: underline 2s forwards ease-in-out 2s;
}
@keyframes underline{
    to{
        visibility: visible;
        width: 130px;
    }
}
/*#90cdf4*/
/*input{
    border-radius: 20px;
    width:300px;
}
button{
    border-radius: 20px;
}*/
#tablebody tr:nth-child(odd),#tablebody1 tr:nth-child(odd)
{
    background-color:  #edf2f7;;
}
#tablebody tr:nth-child(even),#tablebody1 tr:nth-child(even)
{
    background-color:#95a5a6; 
    /*#a0aec0;*/
}
#tablebody1 tr td:nth-child(3)
{
    color:red;
   
}
#head{
    visibility: hidden;
}
#tablebody1 tr td:nth-child(4)
{
    color:green;
}
#tablebody1 tr td:nth-child(5)
{
    color:red;
}
#tablebody tr td:nth-child(4)
{
    color:green;
}
#tablebody tr td:nth-child(5)
{
    color:red;
}
#nav1{
    transition: 0.5s;
}
#tablebody td,#tablebody1 td
{
    margin: 5px;
   border: 1px solid #2c3e50;
}
#tablebody tr:hover,#tablebody1 tr:hover{
    background-color: #0984e3;
}

thead td{
    background-color: #2c3e50;;
    cursor: no-drop;
}
input:focus{
    border: 2px solid;
}
#state-show,#world-show,#compare-states{
    border-radius: 20px;
}
#logo {
    transform: rotateZ(0deg);
    
    animation: round 2s infinite linear;

}
a{
    text-decoration: none;
}
li{
    cursor: pointer;
}
#nav2{
    transition: 1.2s;
    left:-400px;
}
@keyframes round{
    to{
        transform: rotateZ(360deg);
    }
}
#grid:nth-child(even)
{
background-color: #dfe6e9;
height:150px;
width: 150px;
}
#nav2 a{
    text-decoration: none;
}
.box{
    box-sizing: border-box;
}
#speech{
    border-color:#fff;
    outline: #fff;
}
#myChart,#myChart1{
   background-color: #fff;
}

#chart,#chart1{
    height:350px;
}
#slide{
width:300px;
margin: auto;
margin-top: 50px;
}
#t1,#t2,#t3,#t4{
    width:300px;
}
#side1{
display: block;

transform: rotate(-90deg);

}
#side2{
    display: block;
    
    transform: rotate(-90deg);
}
#current ul{
    left:50%;
    bottom:30px;
    transform: translateX(-50%);
}
#current ul li{
background-color: tomato;
}
#inbox{
    top:20%;
    transform: translateY(-50%);
}
/*#slider{
    transform: translateX(-300px);
}*/